USE [user43]
GO
/****** Object:  Table [dbo].[OrderProductRR]    Script Date: 30.03.2026 17:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProductRR](
	[OrderID] [int] NOT NULL,
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderRR]    Script Date: 30.03.2026 17:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderRR](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[OrderPickupPoint] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRR]    Script Date: 30.03.2026 17:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRR](
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductDescription] [nvarchar](max) NOT NULL,
	[ProductCategory] [nvarchar](max) NOT NULL,
	[ProductPhoto] [image] NULL,
	[ProductManufacturer] [nvarchar](max) NOT NULL,
	[ProductCost] [decimal](19, 4) NOT NULL,
	[ProductDiscountAmount] [tinyint] NULL,
	[ProductQuantityInStock] [int] NOT NULL,
	[ProductStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__ProductR__2EA7DCD518B8DB4C] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleRR]    Script Date: 30.03.2026 17:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleRR](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRR]    Script Date: 30.03.2026 17:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRR](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
	[UserRole] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderRR] ON 

INSERT [dbo].[OrderRR] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint]) VALUES (1, N'Новый ', CAST(N'2022-05-16T00:00:00.000' AS DateTime), N'15')
INSERT [dbo].[OrderRR] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint]) VALUES (2, N'Новый ', CAST(N'2022-05-17T00:00:00.000' AS DateTime), N'36')
INSERT [dbo].[OrderRR] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint]) VALUES (3, N'Новый ', CAST(N'2022-05-19T00:00:00.000' AS DateTime), N'18')
SET IDENTITY_INSERT [dbo].[OrderRR] OFF
GO
INSERT [dbo].[ProductRR] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'A385H6', N'набор для рисования', N'Набор для рисования и творчества детский игровой', N'Рисование', NULL, N'АртМир', CAST(176.0000 AS Decimal(19, 4)), 2, 15, N'новый')
INSERT [dbo].[ProductRR] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'A745B6', N'Творческий набор', N'Волшебная Мастерская Мозаика из пайеток на холсте Бабочка', N'Творчество', NULL, N'ФлюидАрт', CAST(129.0000 AS Decimal(19, 4)), 2, 7, N'новый')
INSERT [dbo].[ProductRR] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'A972G5', N'Набор для рисования', N'BONDIBON Набор для творчества Аквамозаика 3D Медведь', N'Творчество', NULL, N'Волшебная мастерская', CAST(1567.0000 AS Decimal(19, 4)), 3, 3, N'новый')
GO
SET IDENTITY_INSERT [dbo].[RoleRR] ON 

INSERT [dbo].[RoleRR] ([RoleID], [RoleName]) VALUES (1, N'Администратор
')
INSERT [dbo].[RoleRR] ([RoleID], [RoleName]) VALUES (2, N'Менеджер
')
INSERT [dbo].[RoleRR] ([RoleID], [RoleName]) VALUES (3, N'Клиент
')
SET IDENTITY_INSERT [dbo].[RoleRR] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRR] ON 

INSERT [dbo].[UserRR] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (1, N'Соловьев', N'Тимофей', N'Маркович', N'jsdrg8x0zqp5@outlook.com', N'2L6KZG', 1)
INSERT [dbo].[UserRR] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (2, N'Савельева', N'Майя', N'Михайловна', N's8w0btpz94o7@gmail.com', N'uzWC67', 1)
INSERT [dbo].[UserRR] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (3, N'Назаров', N'Андрей', N'Никитич', N'lq6tsbvy5gue@yahoo.com', N'8ntwUp', 1)
SET IDENTITY_INSERT [dbo].[UserRR] OFF
GO
ALTER TABLE [dbo].[OrderProductRR]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderRR] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProductRR]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__Produ__2818EA29] FOREIGN KEY([ProductArticleNumber])
REFERENCES [dbo].[ProductRR] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[OrderProductRR] CHECK CONSTRAINT [FK__OrderProd__Produ__2818EA29]
GO
ALTER TABLE [dbo].[UserRR]  WITH CHECK ADD FOREIGN KEY([UserRole])
REFERENCES [dbo].[RoleRR] ([RoleID])
GO
